img {
    width: 15rem;
    margin: 4rem auto;
}

.formUser,
.formPatient {
    display: flex;
    flex-wrap: wrap;
}

.loginForm,
.divRegister {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divRegister {
    margin-top: 30px;
}

.inputRegister {
    background-color: black;
    color: white;
}

.topBarLogin {
    display: flex;
    justify-content: end;
}

.inputWhite {
    background-color: white;
    border: 0;
    color: darkslategray;
}

.loginForm input {
    width: 20%;
    margin: 0 40% 1rem;
}

footer {
    text-align: center;
}

.turnsTitle {
    text-align: center;
    margin: 2rem;
}

.filtroTurnos {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 30%;
    margin: auto;
}

.filtroTurnos input {
    width: 48%;
    margin: 0.2rem 0.2rem 0.5rem;
    text-align: center;
}

.filtroTurnos select {
    margin: 0 1rem 1rem;
    text-align: center;
}

.filtroTurnos label {
    text-align: center;
}

.seccionTabla {
    display: flex;
}

.rangoFecha {
    display: flex;
    flex-wrap: wrap;
}

.labelsRango {
    display: flex;
    width: 100%;
    text-align: center;
}

.labelsRango p {
    width: 50%;
    margin: 0;
}

table {
    margin: 4rem 20%;
    text-align: center;
}

.result {
    color: black;
    font-weight: 200;
}

button {
    border: 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 4px grey;
}

.imprimir {
    display: flex;
    justify-content: center;
}

.alertaOS {
    text-align: center;
    color: red;
}